body {
  padding-top: 60px;
}

.navbar {
  .navbar-brand {
    padding: 0;
    img {
      height: 45px;
      padding: 12px;
    }
  }
  .container h3, .container h4 {
    display: inline;
  }
}

.navbar-h4 {
  margin-bottom: 2px;
}

footer {
  color: #aaa;
  border-top: 1px solid #dfdfdf;
  margin-top: 40px;
  padding-top: 5px;
  text-align: center;
}

.glyphicon {
  margin-right: 5px;
}

.device-list {
  list-style: none;
  padding-left: 0;
  li {
    font-size: 1.3em;
  }
  ul {
    list-style: none;
    li {
      font-size: 0.8em;
    }
  }
}
